   <h1>Gym Manager&trade;</h1>
    <a href="classes">Classes</a>&nbsp;
    <a href="enrollment">Class Enrollment</a>&nbsp;
    <a href="members">Members</a>&nbsp;
    <a href="paymentinfo">Payment Info</a>&nbsp;
    <a href="payments">Payment Schedule</a>&nbsp;
    <a href="trainers">Trainers</a>
   <div>
       <h3>This product brought to you by Landowski & Lugo Enterprises, LLC &lambda;</h3>
   </div>