   <h1>Gym Manager&trade;</h1>
    <a href="/">Return</a>&nbsp;
    <a href="classes">Add/Remove/Edit Class</a>&nbsp;
    <a href="enrollment">Add or Delete Enrollment</a>&nbsp;
    <a href="members">Add/Remove/Edit Member</a>&nbsp;
    <a href="paymentinfo">Add/Remove/Edit Payment Info</a>&nbsp;
    <a href="trainers">Add/Edit/Delete Trainer</a>
   <div>
       <h3>This product brought to you by Landowski & Lugo Enterprises, LLC &lambda;</h3>
   </div>